body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.background {
  background-image: url(https://images.pexels.com/photos/414660/pexels-photo-414660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);`,
  background-repeat: 'no-repeat';
  height: 125vh;
  background-position: 'center';
}
.slick-initialized .slick-slide {
         float: inherit;
         display: inline-block !important;
         vertical-align: middle;
  }
